body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.Bigbox {
  position: absolute;
  height: 75vh;
  width: 65vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div div {
  height: 37vh;
  width: 28vh;
  border-style: solid;
  border-color: white;
  position: relative;
  border-width: 1vh;
}
.inbox {
  width: 29vh;
  height: 15vh;
  background-color: white;
  position: relative;
  border: none;
  left: -0.5vh;
  bottom: -2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tomato {
  background-color: tomato;
  margin-bottom: 5vh;
}
.teal {
  background-color: teal;
  margin-bottom: 5vh;
}
.burlywood {
  background-color: burlywood;
}
.thistle {
  background-color: thistle;
}
.title {
  position: relative;
  top: -45vh;
  font-size: 5vh;
  font-style: bold;
}
.bigfont {
  font-size: 3vh;
  position: relative;
  right: -1vh;
}
.smallfont {
  font-size: 2.2vh;
  position: relative;
  right: -1vh;
}
