@import "reset.css";
@import "variables.css";

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.status-bar {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.status-bar__service {
  font-weight: 600;
}
.status-bar__time {
  font-size: 18px;
  font-weight: 600;
}
